<!DOCTYPE html>
<html lang="en">
<%- include('layouts/head', {title: "Dashboard"}) %>
<body class="flex h-screen bg-gray-100">

<%- include("layouts/sidebar") %>

<div class="flex flex-col flex-1">

    <%- include("layouts/header") %>

    <main class="p-6 overflow-auto">

    </main>
</div>
</body>
</html>
