<header class="grid grid-cols-3 items-center bg-white shadow px-3 py-2">
    <div class="flex items-center space-x-3">
        <img src="/img/turkcell.png" alt="Logo" class="w-20 h-20 rounded-full object-contain filter invert">
        <span class="text-3xl font-bold">DB Tools</span>
    </div>

    <div class="text-center">
        <span class="text-2xl font-semibold"><%= title %></span>
    </div>
</header>
